<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">


</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
                <div class="card border-primary">
                    <div class="card-title text-center text-white bg-primary mb-3" th:text="${recipe.description}">Description here</div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary stretched-link" href="#"
                           th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
                    </div>
<!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Categories:</h6>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li th:each="category : ${recipe.categories}"
                                        th:text="${category.getDescription()}">cat three
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <img src="../../static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                     width="200" height="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Prep Time:</h6>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.prepTime) +  '  Min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h6>Difficulty:</h6>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Cooktime:</h6>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.cookTime  +  '  Min')}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h6>Servings:</h6>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Source:</h6>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h6>URL:</h6>
                            </div>
                            <div class="col-md-3">
                                <p><a href="#" th:href="@{recipe.url}">View Original</a></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-primary">
                <div class="card-title text-center text-white bg-primary mb-3" th:text="'Ingredients'">Ingredients</div>
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary stretched-link" href="#"
                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                </div>
<!--                <div class="card-body">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <ul>-->
<!--                                <li th:remove="all">1 Cup of milk</li>-->
<!--                                <li th:remove="all">1 Teaspoon of chocolate</li>-->
<!--                                <li th:each="ingredient : ${recipe.ingredients}"-->
<!--                                    th:text="${(ingredient.getAmount() +-->
<!--                                        ' ' + ingredient.uom.getDescription() +-->
<!--                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>